<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
<div class="header">Password restore.
<a href="{{frontUrl}}/password/forgot?token={{token}}"> CLICK TO RESTORE YOUR PASSWORD </a></div>
<div>Don't worry, all will be good with your password</div>
<footer><a href="https://google.com">Click on me</a></footer>
</body>
</html>